* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  overflow: hidden;
}
h1{
  font-size: 4rem;
  text-align: center;
  background-color: antiquewhite;
}
.header {
  font-size: 45px;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  height: 5rem;
}

ul {
  display: flex;
}

li {
  margin-left: 35px;
  margin-right:10px;
  margin-bottom: 15px;
  list-style: none;
}
li :hover{
color: rgb(212, 212, 212);
}
.nav-links {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.fa-bars,.fa-close {
  display: none;
}
.logo {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.fa-arrow-down{
  font-size: 20px;
  display: inline-block;
  margin: 10px;
} 
@media screen and (max-width:1200px) {
  ul {
    display: none;
  }
  .fa-arrow-down{
    display: none;
  }
  .fa {
    cursor: pointer;
    display: block;
    margin-right: 20px;
    font-size: 35px;
    z-index: 999;
  }
  .mobile-navbar {
    display: block;
    background-color: rgb(201, 150, 150);
    position: absolute;
    width: 60%;
    height: 100vh;
    top: 0;
    text-align: center;
    right: -800px;
    transition: all 0.5s ease;
  }
  .mobile-navbar.active{
    right: 0px;
    transition: all 0.8s ease;
    z-index: 99;
  }
  .nav-items{
    margin-top: 130px;
  }
  li:hover{
    text-decoration: underline;
  }
  .fa-solid{
    display: none;
  }
}